# {{ ansible_managed }}
[Unit]
Description=Redis persistent key-value database - instance %i
After=network.target
After=network-online.target
Wants=network-online.target
AssertPathExists=/etc/redis/%i.conf
AssertPathExists={{ redis_data_dir }}/%i

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis/%i.conf
ExecStop=/usr/local/libexec/redis-shutdown redis/%i
Type=forking
User=redis
Group=redis
LimitNOFILE=10032
NoNewPrivileges=yes
UMask=0077
TimeoutStartSec=30
TimeoutStopSec=30
# RuntimeDirectory=redis
# RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target