#!/bin/bash
# {{ ansible_managed }}
# 当sentinel有任何警告级别的事件发生时（比如说redis实例的主观失效和客观失效等等），将会去调用这个脚本。一个脚本的最大执行时间为60s，如果超过这个时间，脚本将会被一个SIGKILL信号终止，之后重新执行。
# 对于脚本的运行结果有以下规则：
## 1. 若脚本执行后返回1，那么该脚本稍后将会被再次执行，重复次数目前默认为10。
## 2. 若脚本执行后返回2，或者比2更高的一个返回值，脚本将不会重复执行。
## 3. 如果脚本在执行过程中由于收到系统中断信号被终止了，则同返回值为1时的行为相同。

# 6个参数分别为: <master-name>,<role>,<state>,<from-ip>,<from-port>,<to-ip>,<to-port>
# 第六个参数是新主redis的ip地址
MASTER_IP=$6
LOCAL_IP='{{ ansible_default_ipv4.address }}'
VIP='{{ redis_sentinel_vip }}'
NETMASK='24'
INTERFACE='{{ ansible_default_ipv4.interface }}'

if [[ "${MASTER_IP}" == "${LOCAL_IP}" ]]; then
    /usr/sbin/ip add show ${INTERFACE} | grep "${VIP}/${NETMASK}" > /dev/null 2>&1
    if [[ "$?" == "1" ]]; then
        /usr/sbin/ip addr add ${VIP}/${NETMASK} dev ${INTERFACE}
        /usr/sbin/arping -q -c 3 -A ${VIP} -I ${INTERFACE}
    fi
    exit 0
else
    /usr/sbin/ip addr del ${VIP}/${NETMASK} dev ${INTERFACE} > /dev/null 2>&1
    exit 0
fi
exit 1
