# {{ ansible_managed }}
daemonize yes
port {{ redis_sentinel_port }}
dir {{ redis_data_dir }}/sentinel_{{ redis_sentinel_port }}
bind {{ redis_sentinel_bind }}
logfile {{ redis_log_dir }}/sentinel_{{ redis_sentinel_port }}.log
pidfile  /var/run/sentinel_{{ redis_sentinel_port }}.pid
{% if redis_sentinel_password %}
requirepass {{ redis_sentinel_password }}
{% endif %}
protected-mode yes

sentinel monitor {{ redis_sentinel_monitor_name }} {{ redis_sentinel_monitor_master }} {{ redis_sentinel_monitor_port|default(6379)}} {{ redis_sentinel_monitor_quorum|default(2) }}
{% if redis_sentinel_monitor_password %}
sentinel auth-pass {{ redis_sentinel_monitor_name }} {{ redis_sentinel_monitor_password }}
{% endif %}
sentinel down-after-milliseconds {{ redis_sentinel_monitor_name }} {{ redis_sentinel_monitor_down_after_milliseconds|default(1000) }}
sentinel parallel-syncs {{ redis_sentinel_monitor_name }} {{ redis_sentinel_monitor_parallel_syncs|default(1) }}
sentinel failover-timeout {{ redis_sentinel_monitor_name }} {{ redis_sentinel_monitor_failover_timeout|default(18000) }}
{% if redis_sentinel_monitor_master_ssl|default(False) %}
tls-replication yes
tls-ca-cert-file /etc/redis/ssl/{{ redis_sentinel_monitor_port }}/ca.crt
tls-cert-file    /etc/redis/ssl/{{ redis_sentinel_monitor_port }}/redis.crt
tls-key-file     /etc/redis/ssl/{{ redis_sentinel_monitor_port }}/redis.key
{% endif %}
