# {{ ansible_managed }}
[Unit]
Description=Redis sentinel daemon - instance %i
After=network.target
After=network-online.target
Wants=network-online.target
AssertPathExists=/etc/redis/sentinel_%i.conf
AssertPathExists={{ redis_data_dir }}/sentinel_%i

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis/sentinel_%i.conf --sentinel --supervised systemd
ExecStop=/usr/local/libexec/redis-shutdown redis/sentinel_%i
Type=forking
User=redis
Group=redis
TimeoutStartSec=10
TimeoutStopSec=10
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target