# {{ ansible_managed }}
daemonize yes
port {{ redis_sentinel_port }}
dir {{ redis_data_dir }}/sentinel_{{ redis_sentinel_port }}
bind {{ redis_sentinel_bind }}
logfile {{ redis_log_dir }}/sentinel_{{ redis_sentinel_port }}.log
pidfile  /var/run/sentinel_{{ redis_sentinel_port }}.pid
{% if redis_sentinel_password %}
requirepass {{ redis_sentinel_password }}
{% endif %}
protected-mode yes

{% if redis_sentinel_monitors|length > 0 %}
{% for item in redis_sentinel_monitors %}
sentinel monitor {{ item.name }} {{ item.master }} {{ item.port | default(6379)}} {{ item.quorum | default(2) }}
{% if item.password %}
sentinel auth-pass {{ item.name }} {{ item.password }}
{% endif %}
sentinel down-after-milliseconds {{ item.name }} {{ item.down_after_milliseconds | default(5000) }}
sentinel parallel-syncs {{ item.name }} {{ item.parallel_syncs | default(1) }}
sentinel failover-timeout {{ item.name }} {{ failover_timeout | default(180000) }}
{% if item.master_ssl_enable | default(False) %}
tls-replication yes
tls-ca-cert-file /etc/redis/ssl/{{ item.port }}/ca.crt
tls-cert-file    /etc/redis/ssl/{{ item.port }}/redis.crt
tls-key-file     /etc/redis/ssl/{{ item.port }}/redis.key
{% endif %}
{% endfor %}
{% endif %}
